{% extends "./base.html" %}
{% block title %}Ask question{% endblock %}
{% block content %}

<div>
    {% if form.non_field_errors.count %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    <form method="POST" class="w-25">
        {% if form.title.errors %}
            <div class="alert alert-danger">{{ form.title.errors }}</div>
            {% endif %}
        <div class="form-group">
            {{ form.title }}
        </div>
        {% if form.text.errors %}
            <div class="alert alert-danger">{{ form.text.errors }}</div>
        {% endif %}
        <div class="form-group">
            {{ form.text }}
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}