{% extends "./base.html" %}
{% block title %}Question №{{ question.id}}{% endblock %}
{% block content %}
<h3>{{ question.title}}</h3>
<div><p>{{ question.text}}</p></div>
<div>by <span class="question-author">{{ question.author }}</span></div>

<hr>
{% if answers.count != 0 %}
    <h5>{{ answers.count }} answers</h5>
    <div>
        {% for answ in answers %}
        <div class="answer">
            <div class="answer-author">{{answ.author}}</div>
            {{ answ.text }}
        </div>
        {% endfor %}
    </div>
{% else %}
    <h5>No answers</h5>
{% endif %}

<div>
    {% if form.non_field_errors.count %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    <form method="POST" class="w-25">
        {% if form.text.errors %}
            <div class="alert alert-danger">{{ form.text.errors }}</div>
        {% endif %}
        <div class="form-group">
            {{ form.text }}
        </div>
        {{ form.question }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}